/* Reset CSS: */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Code */

:root {
    --main-bg-color: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 100%);
    --green: hsl(75, 94%, 57%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.social-card {
    background-color: var(--grey800);
    max-width: 23rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
}

.avatar {
    width: 88px;
    height: 88px;
    margin: 40px 0px 24px 0;
    border-radius: 999%;
}

.name {
    color: var(--white);
    font-size: 1.7rem;
    line-height: 150%;
    font-weight: 500;
    margin-bottom: 4px;
}

.location {
    color: var(--green);
    line-height: 150%;
    font-weight: 600;
}

.description {
    margin: 24px 0;
    padding: 0 24px;
    color: var(--white);
}

.description:before {
    content: '\0022';
}

.description:after {
    content: '\0022';
}

.social-links {
    width: 85%;
}

.social-link {
    margin-bottom: 16px;
    padding: 12px 0;
    background-color: var(--grey700);
    border: none;
    line-height: 150%;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0 4 4px 0 rgba(0,0,0,0.25);
    border-radius: 8px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.social-link:hover {
    background-color: var(--green);
    color: var(--grey700);
    cursor: pointer;
    transition: 1s;
}

.social-links:last-child {
    margin: 0;
}

.attribution {
    margin-top: 30px;
    color: var(--white);
}

.attribution a {
    color: var(--green)
}